backend/node_modules
backend/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.next/
frontend/.next/
node_modules/


PORT=5000
MONGO_URI=mongodb://localhost:27017/awign_clone
JWT_SECRET=79c92b2af13e39b8b4d0a218d591cf9f8d30d8c7eed416e62cf67106e7b6e5f85e06eec0c930cb5b5a058542688acf4b31f74c4c345694dfbbd091feb643344d
RESEND_API_KEY=re_gXtxbnH6_3DhwhYhnavhvjjYpvGVSGnQs
FRONTEND_URL=http://localhost:3000.env
